<div class="font-small mdb-color darken-3 pt-5">

   
    <div class="container pt-5">
  
      <!--Grid row-->
      <div class="row d-flex alignPosition" style="padding-top:150px">
  
        <!--Grid column-->
        <div class="col-md-6">
  
          <!-- Video -->
          <div class="embed-responsive embed-responsive-16by9 mb-4 alingContent">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM"
              allowfullscreen></iframe>
          </div>
  
        </div>
        <div class="col-md-6 textProperties" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-out">
          Lorum ipsum
        </div>
        
  
      </div>
     
  
    </div>
    
</div>
  <!-- Footer -->