.container{
    .pt-10{
        padding-top: 10px;
    }
    .alignPosition{
        justify-content: end;
    }
    .alingContent{
        padding-top: 20px;
    }
    .textProperties{
        color: white;
        font-size: 20px;
    }
}