<div class="container adjustBackground">
    <div class="row">
    <div class="col-xs-6 sponserImage">
    <img src="./assets/images/fastanduplogo.JPG" alt="fastanduplogo" class="alignImage">
    <div class="sponserText">
        <span class="colororange">#Sponsored</span>
        <span class="colorblue">Athlete</span>
    </div>
    <div class="shopButton"><button type="button" (click)="goToFastAndUp()" class="btn btn-outline-primary btn-rounded waves-effect">Shop Now</button></div>
    </div>
    <div class=" col-xs-6 subjectImage float-right">
        <img src="./assets/images/fastandupsubject.JPG" alt="">
    </div>
    
</div>

    
</div>  