<footer class="page-footer font-small pt-4 setBackground">
    <!-- Social buttons -->
    <div class="alignText">   </div>
    <div class="alignText">Connect with me on social media, to track latest updates about roller hockey, and ice skating.</div>
    <ul class="list-unstyled list-inline text-center socialButtons">
      <li class="list-inline-item">
        <button type="button" class="btn btn-social-icon btn-facebook btn-rounded" (click)="goToFacebook()"><i class="fab fa-facebook-f"></i></button>
      </li>
      <li class="list-inline-item">
        
        <button type="button" class="btn btn-social-icon btn-twitter btn-rounded" (click)="goToTwitter()"><i class="fab fa-twitter"></i></button>
      </li>
      <li class="list-inline-item">
        <button type="button" class="btn btn-social-icon btn-instagram btn-rounded" (click)="goToInsta()"><i class="fab fa-instagram"></i></button>
      </li>
    </ul>
    <!-- Copyright -->
    <div class="footer-copyright text-center setBackground">© 2020 Copyright:
      <a href="">Parth Jagtap</a>
    </div>
    <div class="footer-copyright text-center setBackground">Developed by:
      <a href="">Kaustubh Aphale</a>
    </div>
  </footer>
