<div class="counterBackground text-center ">
    <span class="font-weight-bold decideHeadingFont">Accolades</span>   
<div class="container counterItems">
    <div class="row" id="scroll-to">
        <div class="four col-md-3" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="500">
            <div class="counter-box colored"> <i class="fas fa-medal iconFont"></i> <span class="counter">21</span>
                <p>Medals</p>
            </div>
        </div>
        <div class="four col-md-3" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1000">
            <div class="counter-box colored"> <i class="fas fa-trophy iconFont"></i> <span class="counter">32</span>
                <p>Trophies</p>
            </div>
        </div>
        <div class="four col-md-3" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1500">
            <div class="counter-box colored"> <i class="fas fa-award iconFont"></i> <span class="counter">28</span>
                <p>Records</p>
            </div>
        </div>
        <div class="four col-md-3" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="2000">
            <div class="counter-box colored"> <i class="fas fa-bullseye iconFont"></i> <span class="counter">15</span>
                <p>Goals</p>
            </div>
        </div>
    </div>
</div>
</div>