<div class="adjustMediaPage">
    <div class="row">
        <div class="col-md-6">
            
            <!-- Video -->
            <div class="embed-responsive embed-responsive-16by9 mb-4 alingContent" data-aos="fade-right" data-aos-duration="1500" data-aos-easing="ease-in-out" data-aos-delay="300">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ul6HUycUmCI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
    
          </div>
          <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9 mb-4 alingContent" data-aos="fade-left" data-aos-duration="1500" data-aos-easing="ease-in-out" data-aos-delay="300">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/D513YT4JPqM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class=""></iframe>
                </div>
        </div>
    </div>
</div>

<div class="adjustNewsPage">
    <div class="font-weight-bold decideHeadingFont text-center">News Mentions</div>
    
    <div style="padding-top: 30px;" class="row pb-30 ">
        <button class="removeBtnstyle col-md-4 pb-5" (click)="goToTimes()"><span><img src="./assets/images/timesofindia.PNG" height="120" width="250"></span></button>
    
        <button class="removeBtnstyle col-md-4 pb-5" (click)="goToPune()"><span><img src="./assets/images/punemirror.PNG" height="120" width="250"></span></button>

        <button class="removeBtnstyle col-md-4 pb-5" (click)="goToIBR()"><span><img src="./assets/images/indiabookofrecords.PNG" height="120" width="250"></span></button>
    </div>

    <div class="row">
        <button class="removeBtnstyle col-md-4 pb-5" (click)="goToWRA()"><span><img src="./assets/images/WRALogo.BMP" height="120" width="250"></span></button>
    
        <button class="removeBtnstyle col-md-4 pb-5" (click)="goToIE()"><span><img src="./assets/images/indianexpress.PNG" height="120" width="250"></span></button>

        <button class="removeBtnstyle col-md-4 pb-5" (click)="goToIssuu()"><span><img src="./assets/images/issuulogo.PNG" height="120" width="250"></span></button>
    </div>

</div>
