<div class="font-small mdb-color darken-3 pt-5 pb-5">

    <div class="container-fluid">

    <!--Section: Content-->
    <section class="text-center" style="padding-top:150px">
  
      <!-- Section heading -->
      <h3 class="font-weight-bold mt-5 mb-5" style="color: white;">Recent Blog Posts</h3>
  
        <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
  
          <!-- Card -->
          <div class="card hoverable">
  
            <!-- Card image -->
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" alt="Card image cap">
  
            <!-- Card content -->
            <div class="card-body">
  
              <!-- Title -->
              <p class="card-title text-muted text-uppercase font-small mt-1 mb-3">News</p>
              <!-- Text -->
              <p class="mb-2">We relocated our office to a new designed garage</p>
  
            </div>
  
          </div>
          <!-- Card -->
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
  
          <!-- Card -->
          <div class="card hoverable">
  
            <!-- Card image -->
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" alt="Card image cap">
  
            <!-- Card content -->
            <div class="card-body">
  
              <!-- Title -->
              <p class="card-title text-muted text-uppercase font-small mt-1 mb-3">Marketing</p>
              <!-- Text -->
              <p class="mb-2">Top five brilliant content marketing strategies</p>
  
            </div>
  
          </div>
          <!-- Card -->
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-0">
  
          <!-- Card -->
          <div class="card hoverable">
  
            <!-- Card image -->
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" alt="Card image cap">
  
            <!-- Card content -->
            <div class="card-body">
  
              <!-- Title -->
              <p class="card-title text-muted text-uppercase font-small mt-1 mb-3">Design</p>
              <!-- Text -->
              <p class="mb-2">Best practices for minimalist design with example</p>
  
            </div>
  
          </div>
          <!-- Card -->
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </section>
    <!--Section: Content-->
  
  
  </div>
  <br>
</div>
  <div class="container my-5 p-5 z-depth-1 unique-color-dark">


    <!--Section: Content-->
    <section class="text-center white-text">
  
      <!-- Section heading -->
      <h2 class="font-weight-bold mb-4 pb-2 text-uppercase">Features</h2>
      <!-- Section description -->
      <p class="lead mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mb-4">
  
          <i class="fas fa-brain fa-3x purple-text"></i>
          <h5 class="font-weight-bold my-4 text-uppercase">Creativity</h5>
          <p class="mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores aperiam minima assumenda deleniti hic.
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 mb-4">
  
          <i class="fab fa-sass fa-3x purple-text"></i>
          <h5 class="font-weight-bold my-4 text-uppercase">Coding</h5>
          <p class="mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores aperiam minima assumenda deleniti hic.
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 mb-4">
  
          <i class="fas fa-users fa-3x purple-text"></i>
          <h5 class="font-weight-bold my-4 text-uppercase">Professionalism</h5>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            aperiam minima assumenda deleniti hic.
          </p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </section>
    <!--Section: Content-->
  
  
  </div>
<app-counter2></app-counter2>

  