<app-carousal></app-carousal>
<div style="scroll-behavior: smooth; overflow: hidden;">
  <section class="carousalEffects container">
  
    
    <div data-aos="fade-down" data-aos-duration="500" data-aos-easing="ease-in-out" id="aboutMe">
    <h2 class="font-weight-bold text-center my-5 decideHeadingFont">Why skating?</h2>
    
    <p class="lead grey-text text-center w-responsive mx-auto mb-5 decideTextFont">This journey from a hobby to passion has been spectacular</p>
  
    
  </div>
    <div class="row">
  
      
      <div class="col-lg-5 text-center text-lg-left" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-out" style="padding-bottom: 20px;">
        <img class="img-fluid" src="./assets/images/portrait.JPG">
      </div>
      
      <div class="col-lg-7">
  
        <div class="row mb-3" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="300">
  
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
  
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Mind</h5>
            <p class="grey-text">A breathtaking marvelous GAME of MIND-HAND-LEG and their coordination.</p>
          </div>
  
        </div>
  
        <div class="row mb-3" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="600">
  
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
  
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Art</h5>
            <p class="grey-text">HOCKEY on SKATES and ICE is INCOMPREHENSIBLE. An incredible art. Come, try, but be ready to invest some serious time and phenomenal skills.</p>
          </div>
  
        </div>
  
        <div class="row mb-3" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1200">
  
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
  
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Speed & Accuracy</h5>
            <p class="grey-text">Its not just the extraordinary pace - blend it with outstanding perfection. You will hit your target right.</p>
          </div>
  
        </div>
        <div class="row" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1800">
  
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
  
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Agility</h5>
            <p class="grey-text">It is a complex sport that incorporates a great amount strength, power, flexibility, balance and grace. Skaters often transitions into jumps and spins footwork sequences which requires agility.</p>
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </section>
  </div>
<app-counter></app-counter>
<app-fastandup></app-fastandup>
<app-mediacomponent></app-mediacomponent>
  


  